.login-page {
    position: relative;
    height: calc(100% - 46px);
   .login-logo {
       padding-top: 56px;
        img {
            width: 120px;
        }
   } 
   .tips {
        color: #c3d3e8;
        font-size: 34px;
    }
    .login-box {
        padding: 48px 8px 24px 8px;
        width: 90%;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 140px;
        .header-img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -70px;
            img {
                width: 140px;
                height: 140px;
                border-radius: 70px;
                box-shadow: 0 0px 12px #dad5d1;
            }
        }
        .idcard-no {
            margin-top: 48px;
            margin-bottom: 48px;
            >span {
                display: inline-block;
                color: #000;
                background: #dad5d1;
                padding: 4px 24px;
                border-radius: 16px;
            }
        }
        .input-name {
            @include reset-xInput-font;
        }
        .login-btn {
            border-radius: 99px!important;
            border-color: #366cb3!important;
            background: #366cb3!important;
            color: #fff !important;
            width: 89%;
            margin-top: 32px;
            font-size: 34px;
            &:active {
              opacity: .8;
            }
        }
    }
    .bottom-tips {
        position: absolute;
        bottom: 96px;
        left: 50%;
        transform: translateX(-50%);
        color: #c3d3e8;
    }
}
